@charset "utf-8";
/* CSS Document */
.jumbo-pic{background: url("simran/hdb.png");height: 650px;}
.marT{margin-top: 310px;font-size: 100px;}
.pad-left{padding-left: 400px;}
.mrg-us{margin-left: 83px}
.marTT{margin-top: 200px;font-size: 100px;}